.wrapper {
    width: 80vw;
    height: 60vh;
    background-color: transparent;
    border: 2px solid #1b4a59;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #1b4a59;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 35%;
    height: 80%;
    border: #1b4a59 2px solid;
    border-radius: 8px;
    display: inline-block;
    /* Change à inline-block */
    margin-right: 20px;
    /* Ajoute un espace entre les cartes */
}

/* Style pour le formulaire de recherche */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 10px;
    width: 300px;
}

.search-form input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: none;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}

.search-form button[type="submit"] {
    padding: 8px 16px;
    background-color: #1b4a59;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Style pour le formulaire d'ajout d'histoire */
.add-story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.add-story-form {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 10px;
    width: 300px;
}

.add-story-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.add-story-form textarea {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: none;
    outline: none;
    resize: vertical;
    height: 100px;
}

.add-story-form button[type="submit"] {
    padding: 8px 16px;
    background-color: #1b4a59;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}